@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --title-button-color: rgb(167, 49, 33);
  --editorial: rgba(255, 49, 20, 0.8);
  --size-editorial: 0.7rem;
  --size-manga-tittle: 1rem;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  width: 100%;
  justify-content: safe;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

#links a {
  color: rgb(167, 49, 33);
  text-decoration: none;
  font-weight: 600;
  border-bottom: solid 2px transparent;
}

#links a:hover {
  border-bottom: solid 2px rgb(167, 49, 33);
}

#logo {
  display: flex;
  width: 50%;
  align-items: center;
  padding: 0 10rem;
  margin-bottom: 5px;
}

#logo img {
  display: flex;
  width: 10rem;
  justify-content: start;
}

#links {
  display: flex;
  column-gap: 2rem;
}

.shopping-cart{
  display: flex;
  width: 10%;
  padding: 0 2em;
  align-items: center;
}

.shopping-cart img{
  width: 28px;
}

.shopping-cart > p{
  font-size: .8rem;
  font-weight: 400;  
  margin-bottom: 0;
  color: rgb(180, 49, 33);
}

.header {
  height: 10vh;
}


#promo {
  background-color: var(--title-button-color);
  color: rgb(255, 255, 255);
  text-align: center;
}

.d-block {
  transition: transform 0.3s ease;
}



.carousel:hover img {
  transform: scale(1.02);
}

#info {
  display: flex;
  padding: 0 150px;
}

.cajita {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}

.cajita p {
  font-size: 0.75rem;
}

.cajita img {
  width: 30px;
  height: 30px;
}

#titulo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

#titulo2 h2 {
  font-size: 2.5rem;
  color: var(--title-button-color);
}

/*ESTILO SECCION MANGAS*/

.container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3em;
}

.card {
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: var(--size-manga-tittle);
}

/*CARD FOTOS*/

.card-image {
  width: 200px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transform: scale(1);
  transition: .5s;
}

#card-1 { 
  background-image: url(mangas/spyxfamily.webp);
}

#card-2 {
  background-image: url(mangas/Vagabond1.jpg);
}

#card-3 {
  background-image: url(mangas/kimetsu-no-yaiba.webp);
}

#card-4 {
  background-image: url(mangas/20thboys.webp);
}

#card-5 {
  background-image: url(mangas/Slam-dunk-.jpg);
}

#card-6 {
  background-image: url(mangas/jujutsu-kaisen-10.webp);
}

#card-7 {
  background-image: url(mangas/blue-period-01.webp);
}

#card-8 {
  background-image: url(mangas/akira.01.webp);
}

#card-9 {
  background-image: url(mangas/bluelock.webp);
}

#card-10 {
  background-image: url(mangas/chainsawman01webp.webp);
}

#card-11 {
  background-image: url(mangas/pluto01.webp);
}

#card-12 {
  background-image: url(mangas/sakamotodays10.jpg);
}

.card-image:hover{
  transform: scale(1.05);
  transition: .5s;
  transform-origin: bottom;  
}

.btn {
  background-color: rgba(255, 255, 255);
  color: var(--title-button-color);
  border-color: var(--title-button-color);
  border-radius: 20px;
}

.btn:hover {
  background-color: var(--title-button-color);
  border-color: var(--title-button-color);
}

.editorial {
  font-size: var(--size-editorial);
  color: var(--editorial);
}

#colaboradores {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  margin: 4em auto;
  align-items: center;
  justify-content: center;
}

.tittle {
  background-color: var(--title-button-color);
  color: rgb(255, 255, 255);
  padding:0.5em;
  margin-bottom: .5em;
  font-size: 1.2em;
}


.row-colabs {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  border: 1px solid black;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  padding: 0 1em;
}

.colaborators img {
  width: 175px;
}

#mangainfo{
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.up, .mid{
  padding-bottom: 10px;
}

.informacion{
  display: flex;
  width: 75%;
  gap: 1.5em;
}

.informacion img{
  width: 50%;
  height: auto;
  align-self: start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#mangainfo p{
  text-align: justify;
}

#mangainfo h3{
  margin-bottom: 1em;
  background-color: var(--title-button-color);
  color: rgb(255, 255, 255);
  padding: .5em;
}

#mangainfo h5{
  color: var(--title-button-color) ;
}

.down{
  border-bottom: 1px;
  border-bottom-color: var(--title-button-color);
}

#mangainfo a{
  text-decoration: none;
  color: var(--title-button-color);
  font-weight: 500;
  padding-top: 6px ;
  border-bottom: 2px solid rgb(167, 49, 33) transparent;
}

#mangainfo a:hover{
  border-bottom: 2px solid rgb(167, 49, 33);
}


.container2{
  max-width: 1200px;
  margin: 0 auto;
}

.footer{
  background-color: rgb(50, 50, 50);
  padding: 80px 0;  
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
}

.footer-links{
  width: 25%;
  padding: 0 15px;
}

.footer-links h4{
  font-size: 20px;
  color: rgb(255, 255, 254);
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid rgb(255, 255, 254);
  padding-bottom: 10px ;
  display: inline-block;
}

.footer-links ul li a{
   font-size: 18px;
   text-decoration: none;
   color: rgb(255, 255, 254);
   display: block;
   margin-bottom: 15px;
   transition: all .3s ease;
}

.footer-links ul li a:hover{
  color: var(--title-button-color);
  padding-left: 6px;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 254, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: rgb(255, 255, 254);
  transition: all .5s ease;
}

.social-link a:hover{
  background-color: rgb(167, 49, 33);
}



/*NOSOTROS*/

.nosotros-imagen{
  width: 50%;
}

.nosotros-imagen img{
  width: 85%;
}

.row-nosotros{
  display:flex;
}

.nosotros-imagen{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}


.nosotros-info{
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nosotros-info h6{
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  background-color: var(--title-button-color);
  padding: 1rem;
}

/*CATALOGO*/



